<h1>Edit Medicamento</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.medicamento_path(@conn, :update, @medicamento)) %>

<span><%= link "Back", to: Routes.medicamento_path(@conn, :index) %></span>
